openapi: "3.1.0"
info:
  title: AumOS Enterprise API
  description: |
    The AumOS Enterprise API provides programmatic access to the AumOS platform,
    enabling AI agent orchestration, model management, governance, and observability
    for enterprise deployments.
  version: "1.0.0"
  contact:
    name: AumOS Platform Team
    email: platform@aumos.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://api.aumos.io/v1
    description: Production
  - url: https://api.staging.aumos.io/v1
    description: Staging
  - url: http://localhost:8000/v1
    description: Local development

security:
  - ApiKeyAuth: []
  - BearerAuth: []

tags:
  - name: agents
    description: AI agent lifecycle management
  - name: models
    description: Model registry and serving
  - name: runs
    description: Agent execution runs and traces
  - name: governance
    description: Policy enforcement and audit
  - name: health
    description: Platform health and status

paths:
  /health:
    get:
      operationId: getHealth
      tags: [health]
      summary: Platform health check
      security: []
      responses:
        "200":
          description: Platform is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /agents:
    get:
      operationId: listAgents
      tags: [agents]
      summary: List agents in the tenant
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/AgentStatus"
      responses:
        "200":
          description: List of agents
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      operationId: createAgent
      tags: [agents]
      summary: Create a new agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAgentRequest"
      responses:
        "201":
          description: Agent created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /agents/{agentId}:
    parameters:
      - $ref: "#/components/parameters/AgentId"
    get:
      operationId: getAgent
      tags: [agents]
      summary: Get agent by ID
      responses:
        "200":
          description: Agent details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateAgent
      tags: [agents]
      summary: Update an agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAgentRequest"
      responses:
        "200":
          description: Agent updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteAgent
      tags: [agents]
      summary: Delete an agent
      responses:
        "204":
          description: Agent deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /agents/{agentId}/runs:
    parameters:
      - $ref: "#/components/parameters/AgentId"
    get:
      operationId: listAgentRuns
      tags: [runs]
      summary: List runs for an agent
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: List of runs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunListResponse"
    post:
      operationId: createRun
      tags: [runs]
      summary: Execute an agent run
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRunRequest"
      responses:
        "202":
          description: Run accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Run"
        "400":
          $ref: "#/components/responses/BadRequest"

  /runs/{runId}:
    parameters:
      - $ref: "#/components/parameters/RunId"
    get:
      operationId: getRun
      tags: [runs]
      summary: Get run details and status
      responses:
        "200":
          description: Run details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Run"
        "404":
          $ref: "#/components/responses/NotFound"

  /models:
    get:
      operationId: listModels
      tags: [models]
      summary: List available models
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
        - name: provider
          in: query
          schema:
            type: string
            description: Filter by provider (e.g., anthropic, openai, mistral)
      responses:
        "200":
          description: List of models
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelListResponse"

  /models/{modelId}:
    parameters:
      - name: modelId
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getModel
      tags: [models]
      summary: Get model details
      responses:
        "200":
          description: Model details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Model"
        "404":
          $ref: "#/components/responses/NotFound"

  /governance/policies:
    get:
      operationId: listPolicies
      tags: [governance]
      summary: List governance policies
      responses:
        "200":
          description: List of policies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyListResponse"

  /governance/audit-logs:
    get:
      operationId: listAuditLogs
      tags: [governance]
      summary: List audit log entries
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
        - name: startTime
          in: query
          schema:
            type: string
            format: date-time
        - name: endTime
          in: query
          schema:
            type: string
            format: date-time
        - name: action
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Audit log entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditLogListResponse"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    AgentId:
      name: agentId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    RunId:
      name: runId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    PageSize:
      name: pageSize
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    PageToken:
      name: pageToken
      in: query
      schema:
        type: string

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    UnprocessableEntity:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    HealthResponse:
      type: object
      required: [status, version, timestamp]
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        version:
          type: string
        timestamp:
          type: string
          format: date-time
        components:
          type: object
          additionalProperties:
            type: string

    AgentStatus:
      type: string
      enum: [active, inactive, archived, error]

    Agent:
      type: object
      required: [id, tenantId, name, status, modelId, createdAt, updatedAt]
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
        name:
          type: string
          maxLength: 255
        description:
          type: string
        status:
          $ref: "#/components/schemas/AgentStatus"
        modelId:
          type: string
        systemPrompt:
          type: string
        tools:
          type: array
          items:
            $ref: "#/components/schemas/AgentTool"
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    AgentTool:
      type: object
      required: [name, type]
      properties:
        name:
          type: string
        type:
          type: string
          enum: [function, retrieval, code_interpreter, http]
        description:
          type: string
        parameters:
          type: object
          additionalProperties: true

    CreateAgentRequest:
      type: object
      required: [name, modelId]
      properties:
        name:
          type: string
          maxLength: 255
        description:
          type: string
        modelId:
          type: string
        systemPrompt:
          type: string
        tools:
          type: array
          items:
            $ref: "#/components/schemas/AgentTool"
        metadata:
          type: object
          additionalProperties: true

    UpdateAgentRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
        description:
          type: string
        status:
          $ref: "#/components/schemas/AgentStatus"
        systemPrompt:
          type: string
        tools:
          type: array
          items:
            $ref: "#/components/schemas/AgentTool"
        metadata:
          type: object
          additionalProperties: true

    AgentListResponse:
      type: object
      required: [items, total]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Agent"
        total:
          type: integer
        nextPageToken:
          type: string

    RunStatus:
      type: string
      enum: [queued, running, completed, failed, cancelled, timeout]

    Run:
      type: object
      required: [id, agentId, tenantId, status, createdAt, updatedAt]
      properties:
        id:
          type: string
          format: uuid
        agentId:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
        status:
          $ref: "#/components/schemas/RunStatus"
        input:
          type: object
          additionalProperties: true
        output:
          type: object
          additionalProperties: true
        error:
          type: string
        usage:
          $ref: "#/components/schemas/TokenUsage"
        durationMs:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time

    TokenUsage:
      type: object
      properties:
        promptTokens:
          type: integer
        completionTokens:
          type: integer
        totalTokens:
          type: integer

    CreateRunRequest:
      type: object
      required: [input]
      properties:
        input:
          type: object
          additionalProperties: true
        metadata:
          type: object
          additionalProperties: true
        timeoutSeconds:
          type: integer
          minimum: 1
          maximum: 3600
          default: 300

    RunListResponse:
      type: object
      required: [items, total]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Run"
        total:
          type: integer
        nextPageToken:
          type: string

    Model:
      type: object
      required: [id, name, provider, capabilities]
      properties:
        id:
          type: string
        name:
          type: string
        provider:
          type: string
        description:
          type: string
        capabilities:
          type: array
          items:
            type: string
            enum: [text, vision, function_calling, structured_output, streaming]
        contextWindow:
          type: integer
        maxOutputTokens:
          type: integer
        deprecated:
          type: boolean
          default: false

    ModelListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Model"
        nextPageToken:
          type: string

    Policy:
      type: object
      required: [id, name, type, enabled]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
          enum: [content_filter, rate_limit, data_governance, access_control]
        enabled:
          type: boolean
        rules:
          type: array
          items:
            type: object
            additionalProperties: true
        createdAt:
          type: string
          format: date-time

    PolicyListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Policy"

    AuditLogEntry:
      type: object
      required: [id, tenantId, action, actorId, timestamp]
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
        action:
          type: string
        actorId:
          type: string
        resourceType:
          type: string
        resourceId:
          type: string
        outcome:
          type: string
          enum: [success, failure, error]
        metadata:
          type: object
          additionalProperties: true
        timestamp:
          type: string
          format: date-time

    AuditLogListResponse:
      type: object
      required: [items, total]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/AuditLogEntry"
        total:
          type: integer
        nextPageToken:
          type: string

    ErrorResponse:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true
        requestId:
          type: string
